.box{
    width: 100%;
    background-color: rgb(244, 240, 240);
    color: black; 
    font-size: 30px;
}
ul{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    border: 3px solid red;

    li{
        color: blue;
    }
}


