*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
  font-size: 20px;
}

.header{
  height: 12vh;
  width: 100%;
  background-color: black;
  display: flex;
  position: fixed;
  z-index: 1;
}
.head_L{
  height: 100%;
  width: 40%;
  color: white;
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.head_R{
  height: 100%;
  width: 60%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.six_pro{
    background-image: url("../image/products-heading.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .back_inner1{
    font-family: sans-serif;
    color: red;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 1.1rem;
  }
  .back_inner2{
    font-family: sans-serif;
    color: white;
    font-weight: 500;
    font-size: 3rem;
    letter-spacing: 3px;
    margin-top: 20px;
  }

  .option2{
    border-bottom: 1px solid rgb(234, 231, 231);
    margin: 0px 150px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .option2 ul li{
    color: black;
    font-family: sans-serif;
    font-size: 0.67rem;
    font-weight: 600;
  }

  .Latest_head{
    color: black;
    font-family: sans-serif;
    font-size: 1.4rem;
    font-weight: 100;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(224, 220, 220);
    padding: 30px 0px;
  }
  .Late_P{
    font-weight: 400;
  }
  .view{
    color: red;
    font-size: 0.6rem;
  }

  .second_box{
    margin: 50px 150px;
    
  }
  .card_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
  
  }
  .card{
    border: 1px solid rgb(210, 207, 207);
    margin-bottom: 20px;
    width: 32%;
  }
  .titl{
    font-family: sans-serif;
    font-size: 0.85rem;
  }
  .tittle{
    display: flex;
    justify-content: space-between;
    color: #1a6692;
  }
  .dollar{
    font-family: sans-serif;
    color: black;
  }
  .para{
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: 100;
    margin-top: 25px;
  }
  .imag img{
    height: 100%;
    width: 100%;
  }
  .rev{
    color: red;
    font-family: sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
  }
  .reviews{
    margin: 25px 0px;
  }
  .content{
    margin: 20px;
  }
  .page_chge{
    border-bottom: 1px solid rgb(232, 231, 231);
    margin: 0px 150px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page_ch_inner_box{
    width: 30%;
  }
  .page_ch_inner_box button{
    margin: 5px;
    color: black;
    font-weight: 700;
    font-size: 0.75rem;
    background-color: white;
    border: 1px solid rgb(188, 185, 185);
  }
  .bt{
    padding: 15px 20px;
  }
  .bt1{
    padding: 15px 14px;
  }