*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
  font-size: 20px;
}

.header{
  height: 12vh;
  width: 100%;
  background-color: black;
  display: flex;
  position: fixed;
  z-index: 1;
}
.head_L{
  height: 100%;
  width: 40%;
  color: white;
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.head_R{
  height: 100%;
  width: 60%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
span{
  color: red;
  margin-left: 8px;
}
.R_innerbox{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60%;
}
ul li{
  color: white;
  list-style: none;
  display: inline-block;
  margin: 20px;
  font-family: sans-serif;
  font-size: 0.8rem;
}
.new_arr{
  height: 84vh;
  width: 100%;
  background-color: red;
  background-image: url("https://i.postimg.cc/cJWT736n/slide-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.best_off{
  color: red;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.n_arr{
  color: white;
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 5px;
  margin-top: 20px;

}
.Latest_head{
  color: black;
  font-family: sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(224, 220, 220);
  padding: 30px 0px;
}
.Late_P{
  font-weight: 400;
}
.view{
  color: red;
  font-size: 0.6rem;
}
.second_box{
  margin: 50px 150px;
  
}
.card_box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;

}
.card{
  border: 1px solid rgb(210, 207, 207);
  margin-bottom: 20px;
  width: 32%;
}
.titl{
  font-family: sans-serif;
  font-size: 0.85rem;
}
.tittle{
  display: flex;
  justify-content: space-between;
  color: #1a6692;
}
.dollar{
  font-family: sans-serif;
  color: black;
}
.para{
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: 100;
  margin-top: 25px;
}
.imag img{
  height: 100%;
  width: 100%;
}
.rev{
  color: red;
  font-family: sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
}
.reviews{
  margin: 25px 0px;
}
.content{
  margin: 20px;
}
.abt_six_box{
  margin: 0px 150px;
}
.abt_head{
  font-family: sans-serif;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 400;
  padding-bottom: 12px;
  border-bottom: 1px solid rgb(233, 230, 230);
  width: 100%;
}
.best_prods{
  margin-top: 40px;
  display: flex;
}
.best_L{
  width: 50%;
}
.best_R{
  width: 50%;
}
.Look{
  color: #1a6692;
  font-family: sans-serif;
  font-size: 0.85rem;
  font-weight: 500;
}
.pra{
  font-family: sans-serif;
  font-size: 0.77rem;
  color: grey;
  font-weight: 100;
  margin-top: 20px;
  line-height: 23px;
}
.blue{
  color: #007bff;
}
.unorder_L{

}
.unorder_L ul{
  display: flex;
  flex-direction: column;
}
.unorder_L ul li{
  color: grey;
}
.btn{
  background-color: red;
  color: white;
  padding: 11px 15px;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 100;
}
.im_box{
  margin-left: 10px;
}
.im_box img{
  height: 100%;
  width: 100%;
}
.creative_uni{
  border-top: 1px solid rgb(227, 225, 225);
  border-bottom: 1px solid rgb(227, 225, 225);
  padding: 55px 10px;
  margin-top: 50px;
}
.creative_inner_box{
  background-color: #f7f7f7;
  padding: 25px;
  display: flex;
}
.cr_L{
  width: 60%;
}
.cr_R{
  width: 40%;
  display: flex;
  justify-content: end;
}
.cr_R button{
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 5px 25px;
  border: none;
  font-size: 0.75rem;
  font-family: sans-serif;
  font-weight: 100;
}
.cr_L h4{
  font-family: sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 0.9rem;
  color: #1a6692;
}
.cr_L h5{
  font-family: sans-serif;
  font-weight: 200;
  color: grey;
  font-size: 0.75rem;
  margin-top: 15px;
}
.footer{
  font-family: sans-serif;
  font-weight: 100;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 150px;
  padding: 60px;
}
.footer span{
  color: red;
}
.six_pro{
  background-image: url("./image/products-heading.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.back_inner1{
  font-family: sans-serif;
  color: red;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 1.1rem;
}
.back_inner2{
  font-family: sans-serif;
  color: white;
  font-weight: 500;
  font-size: 3rem;
  letter-spacing: 3px;
  margin-top: 20px;
}
.option2{
  border-bottom: 1px solid rgb(234, 231, 231);
  margin: 0px 150px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.option2 ul li{
  color: black;
  font-family: sans-serif;
  font-size: 0.67rem;
  font-weight: 600;
}
.page_chge{
  border-bottom: 1px solid rgb(232, 231, 231);
  margin: 0px 150px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page_ch_inner_box{
  width: 30%;
}
.page_ch_inner_box button{
  margin: 5px;
  color: black;
  font-weight: 700;
  font-size: 0.75rem;
  background-color: white;
  border: 1px solid rgb(188, 185, 185);
}
.bt{
  padding: 15px 20px;
}
.bt1{
  padding: 15px 14px;
}
.our_company{
  background-image: url("./image/about-heading.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.our_backg{
  margin: 0px 150px;;
}
.ourback_head{
  border-bottom: 1px solid rgb(226, 223, 223);
  padding-top: 90px;
  padding-bottom: 15px;
  font-family: sans-serif;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 400;
}
.who_what_para{
  padding-top: 50px;
  display: flex;
}
.our_back_img{
  padding: 175px;
  width: 50%;
  background-image: url("./image/feature-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.our_back_para{
  width: 50%;
  padding-left: 30px;
}
.our_back_para_box{
  border-bottom: 1px solid rgb(218, 215, 215);
  font-family: sans-serif;
  font-size: 0.74rem;
  padding-bottom: 20px;
}
.our_back_logo_box{
  padding-top: 20px;
}
.our_back_para_box h3{
  color: #1a6692;
  font-weight: 500;
}
.our_back_para_box p{
  color: black;
  letter-spacing: 1px;
  margin-top: 20px;
  font-weight: 100;
  line-height: 25px;
  font-size: 0.72rem;
}
.our_back_logo_box button{
  padding: 22px;
}
.lg{
  margin-left: 10px;
}
.our_team_box{
  margin:   0px 150px;
}
.team_members{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.member_card{
  border: 1px solid rgb(227, 225, 225);
  width: 31.5%;
  margin-bottom: 30px;
}
.top_img_card{
  
}
.bottom_intro_card{
  font-family: sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top_img_card img{
  height: 100%;
  width: 100%;
}
.bottom_intro_card h4{
  color: #1a6692;
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 1px;
}
.bottom_intro_card h6{
  color: red;
  font-weight: 500;
  padding-top: 15px;
}
.bottom_intro_card p{
  color: rgb(106, 105, 105);
  font-size: 0.75rem;
  font-weight: 100;
  padding-top: 25px;
  line-height: 25px;
  padding-left: 20px;
}
.prod_cust_glob{
  height: 100vh;
  width: 100%;
  background-color: yellow;
  background-image: url("./image/slide_02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prod_cus_glob_innerbox{
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.pro_cus_glo_card{
  border: 2px solid white;
  width: 31.5%;
}
.pcg_card_top{
  width: 100%;
  padding: 40px;
  background-color: rgb(236, 234, 234);
  display: flex;
  justify-content: center;
  align-items: center;
}
.pcg_card_bot{
  width: 100%;
  background-color: white;
  padding: 30px;
}
.red_logo{
  border: 1px solid red;
  padding: 50px 0px;
  width: 40%;
  background-color: red;
}
.pcg_card_bot h4{
  font-family: sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: #1a6692;
  margin-left: 50px;
  margin-top: 10px;
}
.pcg_card_bot p{
  font-family: sans-serif;
  font-size: 0.75rem;
  color: gray;
  font-weight: 100;
  line-height: 20px;
  margin-top: 25px;
}
.pcg_card_bot button{
  color: white;
  background-color: red;
  border: none;
  padding: 12px 20px;
  margin-top: 30px;
  font-size: 0.8rem;
  border-radius: 5px;
  margin-left: 85px;
}
.heading{
  border-bottom: 1px solid rgb(227, 225, 225);
  margin: 0px 150px;
  padding-top: 80px;
  padding-bottom: 5px;
  letter-spacing: 0.5px;
  font-family: sans-serif;
}
.heading h2{
  font-family: sans-serif;
  font-weight: 300;
  padding-bottom: 10px;
}
.logo{
  border-bottom: 1px solid rgb(228, 226, 226);
  margin: 0px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.logo_img{
  width: 18%;
  padding-top: 50px;
  padding-bottom: 100px;
}
.logo_img img{
  height: 100%;
  width: 100%;
}
.lets_get{
  width: 100%;
  padding: 180px;
  background-image: url("./image/contact-heading.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lets_get h4{
  color: red;
  font-family: sans-serif;
  letter-spacing: 1px;
}
.lets_get h1{
  color: white;
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 2px;
  padding-top: 20px;
}
.our_locatn{
  margin: 0px 150px;
}
.location_heading{
  border-bottom: 1px solid rgb(239, 237, 237);
  font-family: sans-serif;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 300;
  padding-top: 70px;
  padding-bottom: 15px;
}
.map_cont_box{
  display: flex;
  padding-top: 40px;
}
.map{
  width: 65%;
}
.map_cont{
  width: 35%;
  padding-left: 30px;
}
.map img{
  height: 100%;
  width: 100%;
}
.map_content{
 border-bottom: 1px solid rgb(239, 236, 236);
 padding-bottom: 25px;
}
.map_logo{
  padding-top: 20px;
}
.map_content h5{
  font-family: sans-serif;
  color: #1a6692;
}
.map_content p{
  font-family: sans-serif;
  font-size: 0.75rem;
  font-weight: 100;
  padding-top: 25px;
  line-height: 25px;
}
.map_logo button{
  padding: 25px;
  margin-right: 10px;
  border: none;
}
.message_main_box{
  margin: 0px 150px;
}
.message_heading{
  font-family: sans-serif;
  border-bottom: 1px solid rgb(230, 227, 227);
  padding-top: 85px;
  padding-bottom: 10px;
  font-size: 1.4rem;
  font-weight: 100;
  letter-spacing: 1px;
}
.form_main_box{
  display: flex;
  padding-top: 50px;
}
.L_form{
  width: 65%;
  display: flex;
  flex-direction: column;
}
.R_form{
  width: 35%;
  margin-left: 40px;
}
.L_form input{
  margin-bottom: 25px;
  padding: 13px;
  border: 1px solid rgb(224, 221, 221);
  font-size: 0.8rem;
  color: rgb(28, 28, 28);
  font-weight: 200;
}
.L_form button{
  background-color: red;
  color: white;
  width: 20%;
  border: none;
  font-size: 0.75rem;
  padding: 12px;
  border-radius: 5px;
}
#form_in{
  padding-bottom:90px ;
}
.R_form1{
  border-bottom: 1px solid rgb(229, 226, 226);
  border-top: 1px solid rgb(229, 226, 226);
}
.R_form2{
  color: #1a6692;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 0.85rem;
  border-bottom: 1px solid rgb(229, 226, 226);
  padding: 15px 0px;
}
.R_form1 h4{
  color: red;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 0.9rem;
  letter-spacing: 1px;
  padding: 25px 0px;
}
.R_form1 p{
  font-family: sans-serif;
  font-weight: 100;
  font-size: 0.75rem;
  color: grey;
  padding-bottom: 20px;
  line-height: 25px;
}